// https://lospec.com/palette-list/twilight-5
:root {
  --theme-color-1: #fbbbad;
  --theme-color-2: #ee8695;
  --theme-color-3: #4a7a96;
  --theme-color-4: #333f58;
  --theme-color-5: #292831;
  --theme-color-5: #368c6b;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  background: var(--theme-color-1);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

@import "window-header";
@import "app-title";
@import "file-dropzone";
@import "progress-indicator";
